{% extends "base.html" %}
{% load static %}
{% load leaflet_tags %}

{% block head %}
    {% leaflet_js %}
    {% leaflet_css %}
    <style>
        #map {
            height: 100%;
            width: 100%;
        }
    </style>
    <script type="text/javascript" src="{% static "map/js/geojsoncss/geojsoncss.js" %}"></script>
{% endblock %}

{% block content %}
    {% leaflet_map "map" %}
    <script type="text/javascript">
        const dataurl = '{% url "data" %}';

        window.addEventListener("map:init", function (event) {
            const map = event.detail.map;

            map.resetviewControl.remove();
            map.zoomControl.remove();

            // Download GeoJSON data with Ajax
            fetch(dataurl)
                .then(function (response) {
                    return response.json();
                })
                .then(function (data) {
                    const geoJsonLayer = L.geoJson.css(data).addTo(map);
                    map.fitBounds(geoJsonLayer.getBounds());
                });
        });
    </script>
{% endblock %}
