{% extends "base.html" %}
{% load static %}
{% load leaflet_tags %}

{% block head %}
    {% leaflet_js %}
    {% leaflet_css %}
    <style>
        #map {
            height: 100%;
            width: 100%;
        }
    </style>
    <script type="text/javascript" src="{% static "map/js/geojsoncss/geojsoncss.js" %}"></script>
{% endblock %}

{% block content %}
    {% leaflet_map "map" %}
    <script type="text/javascript">
        window.addEventListener("map:init", function (event) {
            const map = event.detail.map;

            map.resetviewControl.remove();
            map.zoomControl.remove();

            const layerControl = L.control.layers(null, null).addTo(map);
            const allLayers = L.featureGroup();

            Promise.all([
                {% for layer_url in layer_urls %}
                fetch("{{ layer_url }}").then(response => response.json()),
                {% endfor %}
            ]).then((featureSets) => {
                featureSets.forEach((data) => {
                    const parsedData = L.geoJson.css(data);
                    map.addLayer(parsedData);
                    allLayers.addLayer(parsedData);

                    layerControl.addOverlay(parsedData, data['layerLabel']);
                })
            }).then(() => {
                map.fitBounds(allLayers.getBounds());
            }).catch((err) => {
                console.log(err);
            });
        });
    </script>
{% endblock %}
