{% extends "base.html" %}
{% load static %}
{% load leaflet_tags %}

{% block head %}
    {% leaflet_js %}
    {% leaflet_css %}
    <style>
        #map {
            height: 100%;
            width: 100%;
        }
    </style>
    <script type="text/javascript" src="{% static "map/js/geojsoncss/geojsoncss.js" %}"></script>
{% endblock %}

{% block content %}
    {% leaflet_map "map" callback="main_map_init" %}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/javascript">
        function main_map_init(map, options) {
            map.options.wheelPxPerZoomLevel = 120;
            options.zoomControl = false;

            const dataurl = '{% url "data" %}';
            $.getJSON(dataurl, function (data) {
                const geoJsonLayer = L.geoJson.css(data).addTo(map);
                map.fitBounds(geoJsonLayer.getBounds())
            });

        }
    </script>
{% endblock %}
