<nav class="navbar">
    <div class="app-title">Itineraries Planner</div>
    <a href="#" class="toggle-button">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
    </a>
    <div class="navbar-links">
        <ul>
            <li><a href="{% url "map-index" %}">Map</a></li>
            <li><a href="{% url "calendar-index" %}">Calendar</a></li>
            <li><a href="{% url "reports-index" %}">Reports</a></li>
        </ul>
    </div>
</nav>