{% extends "base.html" %}
{% load static %}

{% block head %}
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.8/index.global.min.js'></script>
    <script src='https://cdn.jsdelivr.net/npm/luxon@2.3.0/build/global/luxon.min.js'></script>
    <script src='https://cdn.jsdelivr.net/npm/@fullcalendar/luxon3@6.1.8/index.global.min.js'></script>

    <script>

        document.addEventListener('DOMContentLoaded', function () {
            var calendarEl = document.getElementById('calendar');
            var calendar = new FullCalendar.Calendar(calendarEl, {
                initialView: 'timeGridWeek',
                events: {{ events | safe }},
                timeZone: 'Asia/Tokyo'
            });
            calendar.render();
        });

    </script>
    <style>
        #calendar {
            height: 100%;
        }

        .event-night {
            z-index: -1 !important;
            background: repeating-linear-gradient(
                    135deg,
                    transparent,
                    transparent 5px,
                    #5973A6 5px,
                    #5973A6 10px
            ) !important;
        }
    </style>
{% endblock %}

{% block content %}
    <div id="calendar"></div>
{% endblock %}
